.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    height: 85%;
    overflow-y: hidden;
    cursor: pointer;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}
.delete-form{
    display: inline;
}

.centered{
    text-align: center;
}